@import "../../assets/styles/base.scss";
// * {
//   border: 2px solid red;
//   background-color: black;
// }
.hero {
  padding: 2em;
  width: 99vw;
  min-height: calc(100vh - 70px);

  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3em;

  &__heading {
    margin-top: 1rem;
    font-family: $font-family;
    font-weight: 700;
    font-size: 3.6rem;
  }

  &__subheading {
    font-family: $font-family;
    font-weight: 700;
    font-size: 2.4rem;
    color: $secondary-color-gray;
    opacity: 0.7;
  }

  &__image_container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;

    &::after {
      position: absolute;
      z-index: -99;
      transform: rotate(3.89deg);
      content: "";

      width: 20rem;
      height: 20rem;
      border-radius: 54px;
      background-color: $primary-color-blue;
    }

    &::before {
      position: absolute;
      z-index: -99;
      transform: rotate(-12.34deg);
      content: "";

      width: 20rem;
      height: 20rem;
      border-radius: 54px;
      background-color: $primary-color-orange;
    }
  }

  &__image {
    position: relative;

    border-radius: 48px;
    width: 20rem;
    height: 20rem;

    &_link {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-color-white;
      background: $primary-color-orange;
      padding: 6px;
      border-radius: 33px;
      width: 15rem;
      font-size: 1rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__activity_btn {
    font-size: 2rem;
    padding: 5px 25px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    background-color: $primary-color-orange;
    color: $secondary-color-white;
  }

  &__activity_img {
    color: $primary-color-blue;
    padding-left: 5px;
    font-size: 3rem;
  }

  &__arrow_btn {
    font-size: 4rem;
    color: $primary-color-orange;
  }
}

@media screen and (min-width: 576px) {
  .hero {
    &__image_container {
      &::after {
        width: 35rem;
        height: 35rem;
      }

      &::before {
        width: 35rem;
        height: 35rem;
      }
    }

    &__image {
      width: 35rem;
      height: 35rem;

      &_link {
        width: 25rem;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 882px) {
  .hero {
    &__image_container {
      &::after {
        width: 45rem;
        height: 45rem;
      }

      &::before {
        width: 45rem;
        height: 45rem;
      }
    }

    &__image {
      width: 45rem;
      height: 45rem;

      &_link {
        width: 30rem;
        font-size: 1.8rem;
      }
    }
  }
}
