@import "../../assets/styles/base.scss";
.trackerPage {
  margin: 7rem auto 0;
  min-height: calc(100vh - 70px);
  width: 95%;
}

//heading part
.headings {
  .headings__name {
    font-size: 2.4rem;
    text-align: center;
    padding-top: 0.9rem;
  }
  .workOutDays {
    font-size: 1.8rem;
    color: #a7a9ac;
    text-align: center;
  }
  &__carousel {
    font-size: 1.6rem !important;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
//Upper Cental
.bar_chart {
  margin: 3rem auto;
  width: 100%;
}

// Lower Center
.lower_center {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.lower_center__icon {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}
.footer_icons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

@media screen and (min-width: $screen-sm-min) {
  .bar_chart,
  .lower_center {
    width: 90%;
  }
}
@media screen and (min-width: $screen-md-min) {
  .bar_chart,
  .lower_center {
    width: 80%;
  }
}
@media screen and (min-width: $screen-lg-min) {
  .bar_chart,
  .lower_center {
    width: 75%;
  }
}
@media screen and (min-width: $screen-xl-min) {
  .bar_chart,
  .lower_center {
    width: 65%;
  }
}
