@import "../../assets/styles/base.scss";

//? margin-top is for the fixed Navbar: 70px;
.container {
  padding: 2rem;
  margin-top: 70px;
  height: calc(100vh - 70px);
}

.categories {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;

  &__lists {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
  }
}

.workouts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  // background-color: red;

  @media screen and (min-width: 414px) {
    grid-template-columns: 1fr 1fr;
  }
}

input {
  font-size: 1.6rem;
}
