@import "../../assets/styles/base.scss";

//? margin-top is for the fixed Navbar: 70px;
.container {
  margin-top: 70px;
}
.searchBar {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-size: 1.4rem;
  font-family: $font-family;
  background-color: $secondary-color-gray;
  width: 50%;
}

::placeholder {
  color: $secondary-color-white;
  font-family: $font-family;
}
.buttoncontainer {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.buttoncontainer__button {
  background-color: none;
  font-family: $font-family;
  border-radius: 20px;
  border: none;
  // padding: 5px;
  font-size: 1.8rem;
  width: 20%;
}

.buttoncontainer__button:hover {
  background-color: $primary-color-orange;
}
