@import "../../assets/styles/base.scss";
//? margin-top is for the fixed Navbar: 70px;
.container {
  margin-top: 70px;
}
.hero {
  padding: 2em;
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  &__heading {
    font-family: $font-family;
    font-weight: 700;
    font-size: 3.6rem;
  }

  &__subheading {
    font-family: $font-family;
    font-weight: 700;
    font-size: 2.4rem;
  }
  &__image__container {
  }
}
