@import "../../assets/styles/base.scss";

//? margin-top is for the fixed Navbar: 70px;

* {
  font-family: $font-family;
}

.workoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
    &__title {
      font-size: 2rem;
    }
  
    &__rounds {
      font-size: 1.5rem;
      color: white;
      background-color: $primary-color-orange;
      border-radius: 33px;
      padding: 2% 5%;
    }
  
    &__body {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr;
      &__exercises{
         & > ul > li {
            font-size: 1.5rem;
            line-height: 3.5;
            & > span {
                color: $secondary-color-gray;
                font-size: 1.5rem;
            }
         } 
  
      }
      &__image{
          display: flex;
          align-items: center;
          justify-content: center;
          & > img {
              height: auto;
              width: 100%;
              border-radius: 0;
              max-width: 100%;
          }

      }
    }
    &__rests {
        font-size: 1.5rem;
        color: white;
        background-color: $primary-color-orange;
        border-radius: 33px;
        padding: 2% 5%;
    }
  }
  