@import "../../assets/styles/base.scss";

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
// medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
// large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
// extra-large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
// custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}


* {
  font-family: $font-family;
}

.workoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  &__title {
    font-size: 2.2rem;
    font-family: $font-family;
    margin-bottom: 5%;
  }

  &__rounds {
    font-size: 1.2rem;
    font-family: $font-family;
    color: white;
    background-color: $primary-color-orange;
    border-radius: 33px;
    padding: 2% 5%;
  }

  &__body {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;

    &__exercises {
      & > ul {
        margin-left: 5%;
      }
      & > ul > li {
        font-size: 1.5rem;
        font-family: $font-family;
        line-height: 2.5;
        margin: 15% 0;

        & > span {
          color: $secondary-color-gray;
          font-size: 1.5rem;
          text-shadow: 1px 1px rgba(231, 229, 229, 0.521);
          background-color: rgba(231, 229, 229, 0.3);
          border-radius: 30px;
          padding: 0% 3%;
        }
      }
    }
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 25%;
      overflow: hidden;
      z-index: -1;
      border-radius: 100px;
      padding-bottom: 2%;
      @include md {
        right: 0;
      }
      & > .workoutpic {
        height: auto;
        width: 100%;
        border-radius: 0;
        max-width: 100%;
        opacity: 1;
        filter: blur(0.5px);
        
      }
      & > .fingers {
        height: auto;
        width: 180%;
        transform: rotate(240deg);
        filter: blur(3px);
        left: 60%;
        overflow: hidden;
        top: 5%;
        opacity: 1;
        position: absolute;
        border-radius: 0;
        max-width: 150%;
        z-index: -1;
      }
    }
  }

  &__rests {
    font-size: 1.2rem;
    color: white;
    background-color: $primary-color-orange;
    border-radius: 33px;
    padding: 2% 5%;
  }
}

.fingers2 {
  filter: blur(150px);
  display: none;
  position: absolute;
  opacity: 0.8;
  position: absolute;
  max-width: 100vw;
  z-index: -2;
  height: 100vh;
  width: auto;
}
