@import "../../assets/styles/base.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.logInButton {
  height: 100px;
  width: 200px;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 3.4rem;
  color: white;
  &:hover {
    border: 5px solid white;
  }
}

