@import "../../assets/styles/base.scss";

* {
  font-size: 62.5%;
}

.Carousel {
  &__carouselContainer {
    display: flex;
    justify-content: center;
    width: 300%;
  }
  &__image {
    height: 100%;
    width: 100%;
  }
  // &__container {
  //   position: relative;
  // }
  &__buttons {
    // position: absolute;
    // bottom: 0.8rem;
    // left: 1.8rem;
    // border: none;
    // margin-left: auto;
    // margin-right: auto;
    border: 3px solid red;
    text-align: center;
    // bottom: 10%;
    // left: 18%;
  }
  &__button {
    background-color: $primary-color-orange;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 5rem;
    height: 2rem;
    font-size: 0.5rem;
    word-wrap: break-word;
    white-space: normal;
  }
  &__button:hover {
    background-color: #f1430eb0;
    color: rgba(255, 255, 255, 0.753);
  }
}

@media screen and (min-width: 576px) {
  .Carousel {
    &__buttons {
      position: absolute;

      margin-left: auto;
      margin-right: auto;

      text-align: center;
      bottom: 10%;
      left: 19%;
    }
    &__button {
      height: 3rem;
      width: 10rem;
      font-size: 1rem;
    }
  }
}

// $screen-sm-min: 576px;
// // small tablets (portrait)
// $screen-md-min: 768px;
// // Tablets and small desktops
// $screen-lg-min: 882px;
// // large tablets/desktops
// $screen-xl-min: 1200px;
