@import "../../assets//styles/base.scss";
.categories {
  &__link {
    font-size: 1.6rem;
    border-radius: 1.8rem;
    padding: 0.4rem 1.2rem;
    color: $primary-color-blue;
    cursor: pointer;
    text-transform: uppercase;

    @include md {
      font-size: 2.2rem;
      padding: 0.4rem 1.6rem;
    }
  }
  &__link_active {
    background-color: $primary-color-orange;
    color: $secondary-color-white;
  }
}
