@import "../../assets/styles/base.scss";

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
// medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
// large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
// extra-large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
// custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

.container {
  margin-top: 70px;
  min-height: 85vh;

  @include md {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @include lg {
    width: 100%;
    display: grid;
    padding: 5%;
    gap: 5%;
    grid-template-columns: 1fr 1fr;
  }
}

.trackerBlock {
  margin: 5% 5%;
  height: 200px;

  background-color: orangered;
  border-radius: 50px;
}
