@import "../../assets/styles/base.scss";

.products {
  padding-top: 70px;
  margin-top: 70px;
  height: calc(100vh - 70px);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  padding-bottom: 3em;
  &__title {
    text-align: center;
    width: 70%;
    font-size: 3.6rem;
  }
}

.carousel {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 50%;
    margin-bottom: 3em;
  }

  &__btn {
    position: absolute;
    font-size: 3rem;

    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }

  &__title {
    font-size: 2.4rem;
    opacity: 0.7;
    color: $secondary-color-gray;
    text-align: center;
  }
  &__price {
    font-size: 2rem;
    opacity: 0.7;
    color: $secondary-color-gray;
    text-align: center;
  }
  &__arrow_btn {
    font-size: 4rem;
    color: $primary-color-orange;
  }
}
