@import "../../assets/styles/base.scss";

.profile {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding-top: 70px;
  max-width: 768px;

  &__img {
    max-width: 100%;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }

  &__heading {
    font-size: 3.3rem;
    margin-top: 2.5rem;
  }

  &__status {
    margin-top: 2rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading {
      font-size: 2.2rem;
    }

    &__desc {
      font-size: 1rem;
    }
  }
}

.preferences {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-size: 1.8rem;
    margin-top: 4rem;
  }
}

.feedback {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedback__heading {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
