@import "../../assets/styles/base.scss";

.productHeader{
  height: 35px;
  width: 100%;
  @include md {
    height: 90px;
  }
}

.socials {
  // padding-top: 70px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__heading {
    width: 70%;
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 15%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4em;
    gap: 10%;
    @include md {
      gap: 25%;
    }
    height: 50%;
  }
  &__icon {
    font-size: 4.8rem;

    &:hover {
      color: $primary-color-orange;
    }

    &_youtube {
      padding: 6px;
      border-radius: 50%;
      background-color: $secondary-color-gray;
    }
  }
}
